<h1> Delete <%= @student.fullname %> <%= @student.email %></h1>
<form action="/students/<%= @student.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<div class="form-group">
		<label>Full Name:</label>
		<input type="text" name="student[fullname]" value="<%= @student.fullname %>" class="form-control" disabled>
	</div>
	<div class="form-group">
		<label>Email:</label>
		<input type="text" name="student[email]" value="<%= @student.email %>" class="form-control" disabled>
	</div>
	<input type="submit" value="Delete" class="btn btn-primary">
</form>