<h1> Edit <%= @student.fullname %></h1>
<form action="/students/<%= @student.id %>" method="post">
	<div>
		<label>Full Name:</label>
		<input type="text" name="student[fullname]" value="<%= @student.fullname %>">
	</div>
	<div>
		<label>Email:</label>
		<input type="text" name="student[email]" value="<%= @student.email %>">
	</div>
	<input type="submit" value="Update">
</form>

<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div class="alert alert-danger"><%= e %></div>
	<% end %>
<% end %>