<h1>View <%= pluralize(@students.count, "Student") %> </h1>

<table class="table table-bordered border-primary">
	<thead class="table-dark">
		<th scope="col">Student Name</th>
		<th scope="col">Email</th>
		<th scope="col">Actions</th>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<tr>
			<td><%= student.fullname%></td>
			<td><%= student.email%></td>
			<td>
				
				<a href="/students/<%= student.id %>/edit">Edit</a> |
				<a href="/students/<%= student.id %>/delete">Delete</a>

			</td>
			<% end %>
		</tr>
	</tbody>
</table>
<a href="/students/new" input type="submit" value="Create Course" class="btn btn-primary" button style="width:200px">Create student</a>
