<h1>View <%= pluralize(@courses.count, "Course") %></h1>
<table class="table table-bordered border-primary">
	<thead class="table-dark">
		<th scope="col">Course Name</th>
		<th scope="col">Actions</th>
	</thead>
	<tbody>
		<% @courses.each do |course| %>
		<tr>
			<td><%= course.course_name %></td>
			<td>
				<a href="/courses/<%= course.id %>/edit">Edit</a> |
				<a href="/courses/<%= course.id %>/delete">Delete</a> |
				<a href="/courses/<%= course.id %>">Students</a> |
				<a href="/courses/<%= course.id %>/students_assignments">Add Assignment</a> |
				<a href="/courses/<%= course.id %>/students_assignments/show">View Assignment</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/courses/new" input type="submit" value="Create Course" class="btn btn-primary" button style="width:200px">Create Course</a>